@using Core.Enums
@model SibersTestTask.Models.Tickets.AddTicketsViewModel

@{
ViewBag.Title = "Add new ticket";
Layout = "_Layout";
}

<h2>Add a new ticket</h2>

<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Form.Id" class="form-label">Ticket Id</label>
        <input type="number" asp-for="Form.Id" class="form-control"/>
        <span asp-validation-for="Form.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Form.Name" class="form-label">Ticket Name</label>
        <input type="text" asp-for="Form.Name" class="form-control"/>
        <span asp-validation-for="Form.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Form.Comment" class="form-label">Comment</label>
        <input type="text" asp-for="Form.Comment" class="form-control"/>
        <span asp-validation-for="Form.Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Form.Priority" class="form-label">Priority</label>
        <select asp-for="Form.Priority" class="form-control"
                asp-items="Html.GetEnumSelectList<TicketPriorityEnum>()">
        </select>
        <span asp-validation-for="Form.Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Form.CreatorId" class="form-label">Creator</label>
        <select asp-for="Form.CreatorId" class="form-control" id="project-employees-select-list"
                asp-items="Model.EmployeeSelectListItem">
        </select>
        <span asp-validation-for="Form.CreatorId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>