@using Core.Enums
@model SibersTestTask.Models.Projects.EditProjectForm

@{
ViewBag.Title = "Edit project";
Layout = "_Layout";
}

<h2>Edit project</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="form-label">Start date</label>
        <input type="date" asp-for="StartDate" class="form-control"/>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EndDate" class="form-label">End date</label>
        <input type="date" asp-for="EndDate" class="form-control"/>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Priority" class="form-label">Priority</label>
        <select asp-for="Priority" class="form-control"
                asp-items="Html.GetEnumSelectList<ProjectPriorityEnum>()">
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client" class="form-label">Client name</label>
        <input type="text" asp-for="Client" class="form-control"/>
        <span asp-validation-for="Client" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContractorCompanyName" class="form-label">Executive company name</label>
        <input type="text" asp-for="ContractorCompanyName" class="form-control"/>
        <span asp-validation-for="ContractorCompanyName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
    <a asp-action="List" class="btn btn-danger mt-3">Cancel</a>
</form>